fastapi==0.115.12
uvicorn[standard]==0.34.2
gunicorn==23.0.0
openai==1.82.0
openpyxl==3.1.5
numpy==2.2.4
rank-bm25==0.2.2
pydantic==2.11.1
sse-starlette==2.3.3
python-multipart==0.0.20
reportlab==4.4.0
aiofiles==24.1.0
google-search-results==2.4.2
